# Python
__pycache__/
*.py[cod]
*.class
.Python
env/
venv/
.env
config_*.json

# Node
node_modules/
dist/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.vscode/
.idea/
